
body {
  background: rgb(10, 10, 10);
  color: grey;
  font-family: Arial;
  font-size: clamp(0.5em, 0.9em, 1.2em);
}

span {
  border: 1px solid grey;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

#minutes {
  margin-left: auto;
  margin-right: auto;
}

/* 1 column */

@media (min-width: 190px) {

  #minutes {
    width: 142px;
  }

}
