
body {
  background: rgb(30, 30, 30);
  color: grey;
  font-family: Arial;
  font-size: clamp(0.5em, 0.9em, 1.2em);
}

span {
  border: 1px solid grey;
  display: inline-block;
  width: 120px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

#minutes {
  margin-left: auto;
  margin-right: auto;
}

/* 1 column */

@media (min-width: 190px) {

  #minutes {
    width: 142px;
  }

}

/* 2 columns */

@media (min-width: 340px) {

  #minutes {
    width: 284px;
  }

}

/* 3 columns */

@media (min-width: 540px) {

  #minutes {
    width: 426px;
  }

}

/* 4 columns */

@media (min-width: 670px) {

  #minutes {
    width: 568px;
  }

}

/* 5 columns */

@media (min-width: 800px) {

  #minutes {
    width: 710px;
  }

}

/* 6 columns */

@media (min-width: 940px) {

  #minutes {
    width: 852px;
  }

}
